<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Adehenry: CRUD APPLICATION</title>
</head>
<body>
    <div class="register">
        <p>Registered already?</p>
        <a href="/" class="btn btn-info"><i class="fas fa-sign-in-alt"></i> Login</a>
    </div>
    
        <div class="login">
            <h1>Register</h1>
            <!-- <p class="err-msg">Username or Password is invalid</p> -->
            <form action="/register" method="post">
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" required/>
                </div>
                <div class="username">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Enter your Username" required/>
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter your Password" required/>
                </div>
                <button type="submit" class="submit"><i class="fas fa-user-plus" id="register-big"></i> Register</button>
            </form>
        </div>
    
</body>
</html>